body {
    background-color: gray;
    font-family: 'Cambria';
    font-size: 20px;
}

a:link, a:visited {
    background-color: gray;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover, a:active {
    background-color: rgb(110, 110, 110);
  }

p {
    text-align: center;
}

img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.KimberleyWu {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  text-align: center;
}